  ul.bulleted {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    li {
    	text-align: left;
    	&::before {
     	  content: "▷ ";
     	}
    }
}

.bulleted.second{
    position: relative;
    right: -10vw;
    align-items: flex-end;
    li {
      text-align: right;
      &::before {
        content: none;
      }
      &::after {
        content: "▷ ";
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
.temphidden {
	visibility: hidden;
}
dt::before {
        content: "▷ ";
}
dd {
  opacity: 0.65;
  margin-left: 1.2em;
}